<div class="profile_sidebar">
	<ul class="sidebar_container">
		<li class="sidebar_content">
			<span class="sidebar_icon"><i class="fas fa-home fa-fw"></i></span>
			<span class="sidebar_text"><a href="/profile/<%=currentUser._id%>">Home</a></span>
		</li>
		<li class="sidebar_content">
			<span class="sidebar_icon"><i class="fas fa-star fa-fw"></i></span>
			<span class="sidebar_text"><a href="/profile/<%=currentUser._id%>/favorite">Favorite List</a></span>
		</li>
		<li class="sidebar_content">
			<span class="sidebar_icon"><i class="fas fa-bookmark fa-fw"></i></span>
			<span class="sidebar_text"><a href="/profile/<%=currentUser._id%>/watchlist">Watchlist</a></span>
		</li>
		<li class="sidebar_content">
			<span class="sidebar_icon"><i class="fas fa-clipboard-list fa-fw"></i></span>
			<span class="sidebar_text"><a href="/profile/<%=currentUser._id%>/list">My Lists</a></span>
		</li>
		<li class="sidebar_content">
			<span class="sidebar_icon"><i class="fas fa-history fa-fw"></i></span>
			<span class="sidebar_text">Recent Activities</span>
		</li>
	</ul>
</div>