<div id="myOverlay" class="overlay">
		<span class="closebtn" onclick="closeSearch()">×</span>
	    <div class="input_container1">
	      <input type="text" placeholder="What are you looking for?" onkeyup="search()" id="inputText">
	    </div>
	    <div class="result_container">
	      <h2 id="result_title"></h2>
	      <ul id="result_wrapper">
	      </ul>
	    </div>
</div>

