	<% if( (detailtvData.review).length != 0){ %>
	<div class="detail_review">
		<div class="homepage_top">
			<span class="top_titel"><h1>Featured Review</h1></span>
		</div>
		<div class="review_main">
			<div class="review_wrapper">
				<div class="review_section">
					<h3 class="review_titel info_txt">A review by <%=detailtvData.review[0].author%></h3>
					<article>
						<p class="review_text">
							<%=detailtvData.review[0].content%>
						</p>
					</article>
				</div>
			</div>
		</div>
		<div class="detail_bottom">
			<a href="/tv/<%=detailtvData.id%>/review" class="info_txt">Read All Reviews</a>
		</div>
	</div>
	<% } %>