<div id="idModal" class="modal">
	<div class="modal_container">
		<div class="modal_top">
			<h4>Save to.....</h4>
			<span id="closeModal">&times;</span>
		</div>
		<div class="modal_main">
			<ul class="modal_list" id="idModal_list">

			</ul>
		</div>
		<div class="modal_bottom">
			<div class="modal_content--bottom" id="modal_btn--bottom">
				<span class="contnet_icon--bottom"><i class="fas fa-list"></i></span>
				<span class="content_text--bottom">Create a new list</span>
			</div>	
			<div class="modal_form--bottom" id="idModalForm">
				<input type="text" class="modal_inputtxt--bottom" id="idModal_inputtxt" placeholder="Enter list name....." minlength="5" maxlength="50" required>
				<div class="modal_inputsub_container"><input type="submit" id="idModal_inputsub" class="modal_inputsub--bottom" value="Save"></div>
			</div>
		</div>
	</div>
</div>

